<div class="widget stacked">
  <div class="widget-header">
    <i class="icon-tasks"></i>
    <h3>KPI Objetivo</h3>
    <div class="pull-right" style="padding-right: 10px;"><a href="#" id="showTargetKpi">Mostrar</a></div>
  </div>
  <div id="targetKpi" class="widget-content">
    <form class="form-horizontal">
      <fieldset>
        <div class="row">
          <div class="span5">
            <!--<div style="padding-left: 50px;"><h4>Fecha</h4></div>-->
            <div class="control-group">
              <label class="control-label" for="revpar_target">RevPar:</label>
              <div class="controls">
                <input type="text" id="revpar_target" class="input-small" name="revpar_target" />
              </div>
            </div>
          </div>
          <div class="span5">
            <div class="control-group">
              <label class="control-label" for="adr_target">ADR:</label>
              <div class="controls">
                <input type="text" id="adr_target" class="input-small" name="adr_target" />
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="occupancy_target">Ocupación:</label>
              <div class="controls">
                <input type="text" id="occupancy_target" class="input-small" name="occupancy_target" />
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="span11">
            <button type="submit" id="apply-target-kpi" class="btn btn-primary pull-right">Aplicar</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>