<div class="footer">

  <div class="container">

    <div class="row">

      <div id="footer-copyright" class="span6">
        Copyright &copy; 2013 525Hotel - All Rights Reserved
      </div> <!-- /span6 -->

      <div id="footer-terms" class="span6">
        Developed by <a href="http://www.10pines.com" target="_blank">10Pines</a>
      </div> <!-- /.span6 -->

    </div> <!-- /row -->

  </div> <!-- /container -->

</div> <!-- /footer -->

