<!DOCTYPE html>
<html>
<head>
  <title>525Hotel - Dashboard</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body>


<div class="navbar navbar-inverse navbar-fixed-top">

	<div class="navbar-inner">

		<div class="container">

			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<i class="icon-cog"></i>
			</a>

			<a class="brand" href="/">
				525 HOTEL - Dashboard
			</a>

		</div> <!-- /container -->

	</div> <!-- /navbar-inner -->

</div> <!-- /navbar -->





<div class="subnavbar">

	<div class="subnavbar-inner">

		<div class="container">

			<a class="btn-subnavbar collapsed" data-toggle="collapse" data-target=".subnav-collapse">
				<i class="icon-reorder"></i>
			</a>

			<div class="subnav-collapse collapse">
				<ul class="mainnav">

					<li class="active">
						<a href="./index.html">
							<i class="icon-home"></i>
							<span>Inicio</span>
						</a>
					</li>

					<li class="dropdown">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-bar-chart"></i>
							<span>Reportes</span>
							<b class="caret"></b>
						</a>

						<ul class="dropdown-menu">
							<li><a href="./elements.html"><i class="icon-angle-right"></i>Hotel Sheltown</a></li>
							<li><a href="./validation.html"><i class="icon-angle-right"></i>Hotel Impala</a></li>
							<li><a href="./jqueryui.html"><i class="icon-angle-right"></i>Embajador Hotel</a></li>
						</ul>
					</li>
				</ul>
			</div> <!-- /.subnav-collapse -->

		</div> <!-- /container -->

	</div> <!-- /subnavbar-inner -->

</div> <!-- /subnavbar -->

<div class="main">
  <div class="container">
    <%= yield %>
   </div>
 </div>

<div class="footer">

	<div class="container">

		<div class="row">

			<div id="footer-copyright" class="span6">
        Copyright &copy; 2013 525Hotel - All Rights Reserved
			</div> <!-- /span6 -->

			<div id="footer-terms" class="span6">
				Developed by <a href="http://www.10pines.com" target="_blank">10Pines</a>
			</div> <!-- /.span6 -->

		</div> <!-- /row -->

	</div> <!-- /container -->

</div> <!-- /footer -->

</body>
</html>
